*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 137, 228);
    font: normal 15pt arial;
}

header {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}



section {
    background-color: white;
    min-width: 320px;
    max-width: 500px;
    min-height: 320px;
    max-height: 350px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.401);
    padding: 15px;
}

.titulo {
    font-size: 1.5em;
    margin-top: 10px;
    
}

.tabuada {
    text-align: center;
    margin: auto;
    
    
}



.subtitulo {
    text-align: center;
    margin: 20px;
    
}

.linkinst {
    color: white;
    text-decoration: none;
}

footer > p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic ;
    font-weight:normal ;
    color: white;
    text-align: center;
    font-size: 1.3em;
    
}